/*Formatting for HTML5 page*/
#divLogo {
    border: 2px solid grey;
    height: 150px;
    padding: 10px;
    width: 400px;
}

/*table formatting */
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1 px solid grey;
}

th {
    background-color: paleturquoise;
    padding: 15px;
    text-align: center;
    
}

td {
    text-align: left;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
/*basic page styles */

body {
    background-color: #e7e7e7;
}
.header{
    background-color:#3d6098;
    color: white;
    text-align: center;
    padding: 20px;
}

/*Navigation */

.dropbtn {
    background-color: #4999b6;
    color: white;
    text-align: center;
    padding: 10px 40px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    background-color: #90c3d5;
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    display: block;
    padding: 12px 16px;
    text-decoration: none;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* Buttons */
button {
    background-color: #4999b6;
    color: white;
    text-align: center;
    padding: 10px 40px;
}
/*Topic 6 DOM manipulation*/
#enchant {
    height: 50%;
    width: 50%;
}
/*JavaScript Events Topic 9*/

/*CSS Triggering Transitions Topic 11 */
.namebox {
    height: 30px;
    width: 150px;
    transition: all .5s ease;
}
.namebox:focus {
    background-color: darkgrey;
    color: white;
    width: 300px;
}

/*CSS Transforms Topic 12 */
#t1_container {
  position: relative;
  margin: 10px auto;
  width: 450px;
  height: 281px;
  z-index: 1;
}
#t1_container {
  perspective: 1000;
}
#t1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#t1_container:hover #t1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #aaa;
}

#t2_container {
  position: relative;
  margin: 10px auto;
  width: 425px;
  height: 425px;
  z-index: 1;
}
#t2_container {
  perspective: 1000;
}
#t2_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
.t2_flip {
  transform: rotateY(180deg);  
}

.cardFront {
    
}
/*CSS Animations Styling Topic 13 */


/*set size and colo

.container {
    height: 40vmin;
    width: 40vmin;
    background-color: teal;
}

/* Adjust size of body/html */

html,
body {
    height: 100%;
}
.container-one {
    padding: 1vmin;
}

.orbiting-circle {
    height: 25%;
    width: 25%;
    background-color: darkred;
    border-radius: 50%;
    animation: orbit 3s linear infinite;
}

@keyframes orbit {
    0% { transform: translate(0,0); }
    5% { transform: translate(0,0); } /* don't change for 5% of the time...pause */
    25% { transform: translate(300%,0%); } /* start moving again */
    30% { transform: translate(300%,0%); } /* pause */
    50% { transform: translate(300%,300%); } /* move */
    55% { transform: translate(300%,300%); } /* pause */
    75% { transform: translate(0%,300%); } /* start moving again */
    80% { transform: translate(0%,300%); } /* pause */
    100% { transform: translate(0%,0%); }
}
.container-two {
	display: flex;
	justify-content: center;
	align-items: center;
}

.morphing-circle {
    height: 25%;
    width: 25%;
    background-color:darkred;	
    border-radius: 50%;
    transition: border-radius .5s ease, 
                background-color .5s ease, 
                transform .5s ease .5s;
    animation: morphing-circle-square 3s linear infinite;
}
@keyframes morphing-circle-square {
    0% {border-radius: 50%}
    25% { 
        border-radius: 50%;
        background-color: darkred;
    }
    50% { /* now change to white square*/
        border-radius: 0%;
        background-color: white;
        transform: rotate(0deg);
    }
    75% { /* stay a white square, but rotate 90deg */
        border-radius: 0%;
        background-color: white;
        transform: rotate(90deg);   
    }
    100% { /* stay rotated at 90, but change back to a circle */
        border-radius: 50%;
        background-color: darkred;
        transform: rotate(90deg);
    }
}
.container-three {
  display: flex;
  justify-content: center;
  align-items: center;
}    
.splitting-circle {
  height: 25%;
  width: 12.5%;
  background-color: darkred;
}
.first-half {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  animation: move-right 3s linear infinite;
}
@keyframes move-right {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
.second-half {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  animation: move-left 3s linear infinite;
}
@keyframes move-left {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
.container-four {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pulsing-circle {
  height: 25%;
  width: 25%;
  background-color: darkred;
  border-radius: 50%;
  animation: pulse 3s linear infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  48% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  52% {
    transform: scale(1);
  }
  
  77% {
    transform: scale(1);
  }
   79% {
    transform: scale(1.5);
  }
   81% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}