/*Formatting for HTML5 page*/
#divLogo {
    border: 2px solid grey;
    height: 150px;
    padding: 10px;
    width: 400px;
}

/*table formatting */
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1 px solid grey;
}

th {
    background-color: paleturquoise;
    padding: 15px;
    text-align: center;
    
}

td {
    text-align: left;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
/*basic page styles */

body {
    background-color: #e7e7e7;
}
.header{
    background-color:#3d6098;
    color: white;
    text-align: center;
    padding: 20px;
}

/*Navigation */
.topnav {
    overflow: hidden;
    background-color: #213159;
}

.topnav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.topnav a: hover {
    background-color: #3d6098;
}

/* Buttons */
button {
    background-color: #f04b4c;
}